:root{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.title{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 3.5rem;
    font-weight: 500;
    font-size: 3rem;
}

#to-do-input{
    outline: none;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border-style: solid;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    font-size: 1.6rem;
    width: max(35rem, 30%);
}

hr{
    flex-basis: 100%;
    color: transparent;
}

#to-do-input, #clear-btn, #add-to-do-bt{
    font-family: inherit;
}

#add-to-do-btn{
    margin-right: .5rem;
}

header > button{
    border-radius: 1rem;
    border-style: solid;
    width: 10rem;
    margin-bottom: .5rem;
    width: max(14rem, 15%);
    font-size: 1.6rem;

}

#to-do-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.to-do-item{
    font-family: inherit;
    font-size: 1.8rem;
    color: black;
    width: max(18rem, 20%);
    text-align: center;
    background-color: rgb(222, 222, 222);
    border-radius: 2rem;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.2);
    margin-top: 1rem;
}

.remove-to-do-btn{
    float:right;
    width: 2rem;
}